# macOS
.DS_Store

# Xcode user-specific files & Build
xcuserdata/
*.xcuserstate
build/
DerivedData/
.build/
*.xccheckout
*.xcscmblueprint

# Python / PyCharm / Virtual Environment
__pycache__/
*.py[cod]
*$py.class

.idea/
.venv/
